<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <script
      type="text/javascript"
      src="https://unpkg.com/qr-code-styling@1.5.0/lib/qr-code-styling.js"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/gh/tofsjonas/sortable/sortable.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/gh/tofsjonas/sortable/sortable.min.js"></script>
    <title>ECS Shortener</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container">
        <h1 class="navbar-brand" style="color: white">
          Elastic Containers URL Shortener
        </h1>
      </div>
      <div class="btn-group">
        <a href="/dashboard" class="btn btn-primary me-1">Dashboard</a>
        <a href="/logout" class="btn btn-primary me-2">Logout</a>
      </div>
    </nav>
    <div class="center">
      <div>
        <h1>ECS Shortener</h1>
        <form action="/shortUrls" method="post" class="my-4 row">
          <div class="col-md-9">
            <label for="fullUrl" class="visually-hidden form-label"
              >Long URL</label
            >
            <input
              required
              placeholder="URL"
              type="url"
              name="fullUrl"
              id="fullUrl"
              class="form-control"
            />
          </div>
          <div class="col-lg">
            <input
              placeholder="Vanity URL"
              type="text"
              name="vanityUrl"
              id="vanityUrl"
              class="form-control"
            />
          </div>
          <div class="col-auto">
            <button class="btn btn-success submit" type="submit">
              Shorten!
            </button>
          </div>
          <% if (message) { %>
          <div class="alert alert-<%= message.type %> mt-2" role="alert">
            <%= message.intro %> <%= message.message %> <% if (message.type ==
            "success") { %>
            <div id="qr" class="qr text-center mx-2"></div>
            <button
              type="button"
              name="preview"
              class="btn btn-primary mt-2 preview"
              onclick="generateQRCode(`<%= message.shortLink %>`, `<%= origin %>`);"
            >
              Preview QR Code
            </button>
            <button
              type="button"
              name="download"
              class="btn btn-primary mt-2"
              onclick="downloadQRCode(`<%= message.shortLink %>`, `qr-download`, `<%= origin %>`)"
            >
              Download QR Code
            </button>
            <% } %>
          </div>
          <%} else { %> <% } %> <% if (message) { %> <% if (message.type ==
          "success") { %>
          <div class="text-center">
            <a href="/" class="btn btn-primary mt2">Make Another Link!</a>
          </div>
          <% } %> <%} else { %> <% } %>
        </form>
      </div>
    </div>
    <footer>
      <div class="text-center footer">
        Powered by ECS, Fargate, MongoDB Atlas on AWS, and AWS Cognito
      </div>
      <div class="logo">
        <img src="../assets/images/footer-logo.png" />
      </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.10/clipboard.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script src="../js/qr.js"></script>
    <script src="../js/tippy.js"></script>
    <script src="../js/redirect.js"></script>
  </body>
</html>
